@model IEnumerable<Q400Calculator.Models.ClimbData>

@{
    ViewData["Title"] = "ClimbIndex";
}

<h2>ClimbIndex</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Vclmb)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vfri10)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vfri15)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vfri5)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Weight)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Vclmb)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vfri10)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vfri15)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vfri5)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Weight)
            </td>
        </tr>
}
    </tbody>
</table>
